<h3 class='about-quote'>“You are not special. You're not a beautiful and unique snowflake.
    You're the same decaying organic matter as everything else.”
    - Fight Club</h3>

<p class='about'>
    Taken from Chuck Palahniuk’s iconic 1990s novel-turned-film Fight Club, the term ‘snowflake’ has come to be the
    go-to derogatory term for liberals and progressives.

    We believe that climate change is an issue that’s worth getting offended over. Snowflakes aims to provide you with
    a starting point. We know it can be intimidating to get involved. Let’s start with the small stuff.
</p>
