<h2>Make your move, snowflake.</h2>
<p>Here are some other actions <br>that you can take right now:</p>

<h3>Your Top 3</h3>
<ul class="action-category">
    <li>Donate £ to Greenpeace</li>
    <li>Join extinction rebellion network</li>
    <li>Follow Friends of the Earth on Twitter</li>
</ul>

<hr>

<h3>Organizations to Follow</h3>
<ul class="action-category">
    <li>Oxfam</li>
</ul>

<hr>

<h3>Events to Attend</h3>
<ul class="action-category">
    <li>Climate science talk with renowned environmental campaigner Aubrey Meyer</li>
</ul>

<hr>

<h3>Contribute to a Charity</h3>
<ul class="action-category">
    <li>My beer fund</li>
</ul>

<hr>

<h3>Support a Petition</h3>
<ul class="action-category">
    <li>let us go home early</li>
</ul>

<hr>

<h3>Follow Prominent Activists</h3>
<ul class="action-category">
    <li>Kristina</li>
</ul>

<hr>
<div class='circle-background-explore'></div>
<p class='button-explore'>Email me my options</p>
<a href="/" class='button-explore'>Return to homepage</a>
