<header>

<h1 class='top-layer'>Hello Snowflake,</h1>

<div id='sub-title-container'> 
  <div id='border'></div>
  <div id='border-breaker'></div>
  <h2 class='sub-title top-layer'>
    Worried about <span class='highlight size20'>climate change?</span> <br>
    We will help you make a <span class='size20'>difference </span><span class='bold italic'>today</span>
  </h2>
</div>

<div class="fas fa-chevron-circle-down fas-home"></div>
</header>


<main>


</main>