<h1>Hello Snowflake,</h1>
<div class='circle-background-home'></div>
<h2 class='landingpage-h2'>Worried about climate change?
We’ll show you how to make a difference <span class='now-italic'>now</span></h2>
<p class='button'>begin</p>

