<div class='iphone5-page'>

<header>
<h1>Hello Snowflake,</h1>

<div class='sub-title-container'> 
  <div class='border'></div>
  <div class='border-breaker'></div>
  <h2 class='sub-title top-layer'>
    Worried about <span class='highlight size20'>climate change?</span> <br>
    We will help you make a <span class='size20'>difference </span><span class='bold italic'>today</span>
  </h2>
</div>
{{!-- <div class='clear'></div> --}}
<div class="fas fa-chevron-circle-down arrow-down"></div>
</header>
</div>

<div class='iphone5-page'>
<main id='landing-page-main'>
<h3 class='h3-raleway'><span class='font-25'>We know that you’re busy. <br></span>
<span class='font-30'>Let’s get the ball <span class='italic'>rolling.</span></span></h3>
<p class='p-raleway'><span class='p-bold'>Click</span> the <span class='highlight'>next arrow</span> to see <span class='italic'>three things</span> that you can do <span class='p-bold'>right now </span>to fight climate change.
<br>
<br>
If you’re feeling especially inspired, <span class='p-bold'>click</span> the <span class='highlight'>explore button</span> to see other actions that you can take.
</p>
</main>
</div>