<header>
  <h1>Hello Snowflake,</h1>
</header>
<div class='circle-bg circle-bg__middle'></div>
<h2 class='sub-title'>
  Worried about climate change? We’ll show you how to make a difference <span class='bold italic'>now</span>
</h2>
<p class='button'>begin</p>
