<div class="quiz-container">
    <main class="iphone5-page quiz-ques" id="quiz-1">
        <section class="question">
            <aside><i class="far fa-question-circle right"></i></aside>
            <p class="sub-heading margin--btm50">Have some time to make the world green?</p>
            <div class="swipe-ans right">
                <p class="">Sure, a bit</p>
                <nav class="arrow arrow-right"></nav>
            </div>
            <div class="clear"></div>
            <div class="swipe-ans">
                <nav class="arrow arrow-left"></nav>
                <p class="clear">No, sorry</p>
            </div>
        </section>
        <div class="clear"></div>
    </main>

    <main class="iphone5-page quiz-ques" id="quiz-2">
        <section class="question">
            <aside><i class="far fa-question-circle right"></i></aside>
            <p class="sub-heading margin--btm50">Can you spare some change for change?</p>
            <div class="swipe-ans right">
                <p class="">Sure, I have a couple quid to spare.</p>
                <nav class="arrow arrow-right"></nav>
            </div>
            <div class="clear"></div>
            <div class="swipe-ans">
                <nav class="arrow arrow-left"></nav>
                <p>You are kidding,right?</p>
            </div>
        </section>
        <div class="clear"></div>
    </main>
    <main class="iphone5-page quiz-ques" id="quiz-3">
        <section class="question">
            <aside><i class="far fa-question-circle right"></i></aside>
            <p class="sub-heading margin--btm50">A night out with friends. Which do you prefer?</p>
            <div class="swipe-ans right">
                <p>Food & drinks</p>
                <nav class="arrow arrow-right"></nav>
            </div>
            <div class="clear"></div>
            <div class="swipe-ans">
                <nav class="arrow arrow-left"></nav>
                <p class="clear">Deep conversation</p>
            </div>
        </section>
        <div class="clear"></div>
    </main>

    <main class="iphone5-page quiz-ques" id="quiz-4">
        <section class="question">
            <aside><i class="far fa-question-circle right"></i></aside>
            <p class="sub-heading">Want to link up?</p>
            <p class="font-20 margin--btm50 italic">(That is, with other snowflakes working to combat climate change!)</p>
            <div class="swipe-ans right">
                <p>No new friends</p>
                <nav class="arrow arrow-right"></nav>
            </div>
            <div class="clear"></div>
            <div class="swipe-ans">
                <nav class="arrow arrow-left"></nav>
                <p class="clear">Sure, what’s up?</p>
            </div>
        </section>
    </main>

</div>
