<h2 class='topthree-h2'>Here are three ways that you can make a difference today</h2>

<h3>1. Donate £ to</h3>
<a href="https://secure.greenpeace.org.uk/page/contribute/greenpeace-main" target='blank' class='link'>Greenpeace</a>

<h3>2. Join</h3>
<a href="https://actionnetwork.org/forms/join-the-rebellion-2?source=direct_link&" target='blank' class='link'>
    The Extinction Rebellion<p>Action Network
</a>

<h3>3. Follow and retweet:</h3>
<a href="https://twitter.com/friends_earth" target='blank' class='link'> 
    Friends of the Earth<p>@friends_earth
</a>
<br>

<div class='circle-background-topthree'></div>
<a href="/explore" class='button'>Explore<br>more</a>