<h1>Here are three ways that you can make a difference today:</h1>

<h2>1. Donate £ to:</h2>
<a href="https://secure.greenpeace.org.uk/page/contribute/greenpeace-main" target='blank'>Greenpeace</a>

<h2>2. Join</h2>
<p><a href="https://actionnetwork.org/forms/join-the-rebellion-2?source=direct_link&" target='blank' >
    <span class='italics'>The Extinction Rebellion</span> <br>
    Action Network
    </a></p>

<h2>Follow and retweet:</h2>
<p><a href="https://twitter.com/friends_earth" target='blank' >
    <span class='italics'>Friends of the Earth</span> <br>
    @friends_earth
    </a></p>

<a href="/explore">Explore more</a>