// Typography
$h1-font: 'Playfair Display', serif;
$h2-font: 'Raleway', sans-serif;
$body-font-raleway: 'Raleway', sans-serif;
$quote-font-open-sans: 'Open Sans', sans-serif;

// Colors
$main-text-color-black: #393D3F;
$background-color-white: #FFF8F8;
$highlight-color-orange: #FF6F61;
$highlight-color-blue: #BDE2FF;
$highlight-color-green: #97DDDF;
$bold-text-color-black: #202020;

/*******************************
*            Helpers           *
********************************/

.iphone5-page {
  width: 100vw;
  height: 100vh;
}

.clear {
   clear: both;
}

.italic{
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.sub-heading {
  font-size: 2.2rem;
}

.h3-raleway {
  font-family: $h2-font;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #393D3F;
  padding: 16px;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 1em;
}

.p-raleway {
  font-family: $h2-font;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0 auto;
  padding: 16px;
  width: 251px;
}

.p-bold {
  font-weight: 300;
  font-size: 22px;
}

.highlight{
  color: $highlight-color-orange;
  font-size: 25px;
}

.right {
    float: right;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

a {
  text-decoration: none;
  cursor: cell;
}

a:hover {
  color:#97DDDF;
}

.fas {
  display: block !important;
  color: #FF6F61;
  font-size: 2em;
  height: 20px;
  width: 20px;
}

.fas:hover {
  color:#97DDDF;
}

.chevron-down {
  margin: 78% auto 0;
}

.chevron-right {
  margin: 3% auto 0;
}

.margin--btm50 {
    margin-bottom: 50px;
}

.nav-text {
  text-transform: uppercase;
  font-family: $body-font-raleway;
  font-weight: 100;
  letter-spacing: 0.2em;
  line-height: normal;
  color: $highlight-color-orange;
  margin: 0 auto;
  position: inline;
}

nav {
  display: flex;

}
//mixins


/*******   END HELPERS   *******/
body {
  color: $main-text-color-black;
  background-color: $background-color-white;
  margin: 10px 10px 10px 10px;
  cursor: crosshair;
}

.arrow {
    display: block;
    height: 50px;
    width: 80px;
    margin: 10px;
    background-repeat: no-repeat;
}
.arrow-right {
    background-image: url('../../img/arr-right.png');
    float: right;
}
.arrow-left {
    background-image: url('../../img/arr-left.png');
    float: left;
}

html {
  scroll-behavior: smooth;
}

/*******************************
*         Landing Page         *
********************************/
header {
  margin-top: 12rem;
  width: 320px;
  height: 375px;
}

h1 {
  font-family: $h1-font;
  color: #393D3F;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  padding-left: 4%;
  line-height: 38px;
  top: -1px;
  width: 304px;
  z-index: 100;
}

h2 {
  margin: 20px 15px;
}

.sub-title-container {
  position: absolute;
  padding-left: 6.3rem;
  height: 200px;
  width: 200px;
  z-index: -1;
  top: 17rem;
}

.border {
  border: 0.5px dotted $main-text-color-black;
  border-radius: 10px;
  height: 199px;
  width: 210px;
  position: relative;
  left: -24px;
}

.border-breaker {
  height: 180px;
  width: 214px;
  background-color: #FFF8F8;
  position: relative;
  top: -265px;
  left: -31px;
}

.sub-title {
  font-family: $h2-font;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: right;
  line-height: normal;
  color: $main-text-color-black;
  z-index: 100;
  width: 188px;
  position: relative;
  top: -394px;
  left: -24px;
}

#landing-page-main {
  position: relative;
  top: 10px;
  margin: 1rem;
}

/*******************************
*         Top3 Styling         *
********************************/

.top3-heading {
  font-family: $h1-font;
  font-style: normal;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: normal;
  color: $main-text-color-black;
}

.top3-subheading {
  font-family: $h2-font;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: normal;
  margin: -6% auto 8%;
  width: 300px;
  text-align: justify;
  padding-left: 5%;
  color: $main-text-color-black;
}

.top3-h3 {
  font-family: $h2-font;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: normal;
  color: $main-text-color-black;
  padding: 9px;
  padding-left: 2rem;
  margin: 0 auto;
}

.top3-a {
  text-decoration: underline;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
  border: 0.5px dotted #393D3F;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: 600;
}

.top3-item {
  margin: 8px auto 10px;
}


/*******************************
*         Explore Page         *
********************************/
.explore-page{
  width: 96vw;
}
.explore-title{
  font-family: $h1-font;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: normal;
}

.explore-subtitle{
  font-family: $body-font-raleway;
  color: $main-text-color-black;
  margin: 20px 15px;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: normal;
  width: 300px;
  text-align: justify;
  padding-left: 5%;

}

.explore-h1 {
  color: $bold-text-color-black;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  font-family: $h1-font;
}

.explore-h3 {
  font-family: $body-font-raleway;
  color: $main-text-color-black;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: normal;
  padding: 9px;
  margin: 0 auto;
  width: 12rem;
}

.explore-a {
  justify-content: center;
  text-decoration: underline;
  font-size: 0.8rem;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  width: -16rem;
  width: 10rem;
}

li{
  font-family:$body-font-raleway;
  margin-left: 20px; padding: 5px 20px;
  height: 50px;
  width: 300px;
  text-align: center;
  
}

.button {
  font-family:$body-font-raleway;
  color: $bold-text-color-black;
  float: right;
  font-size: 1.3rem;
  margin-right: 20px;
  text-decoration: none;
  z-index: 100;
  position: relative;
  top: 60px;
}

.button-explore {
  font-family:$body-font-raleway;
  color: $bold-text-color-black;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  position: relative;
}

.link{
  text-decoration: none;
  font-family:$body-font-raleway;
  color: $main-text-color-black;
  margin-left: 30px;

}

p {
  margin: 0;
}

.fas{
  color: $highlight-color-orange;
}

.now-pink{
  color: $highlight-color-orange;
  font-weight: 700;
}

.h3-title{
  font-family:$body-font-raleway;
  text-align: center;
}

.right-chevron {
  margin-right: 7px;
}

.email-input {
  background-color: #FFE4E2;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
}
/*****************************
*         Quiz pages         *
*****************************/

.questions {
    font-family: $h2-font;
    margin-bottom: 100px;
    padding: 15px;
    .sub-heading {
        font-size: 3rem;
        font-weight: 100;
    }
    .swipe-ans {
        color: $highlight-color-orange;
        font-size: 2rem;
        font-weight: 300;

        p {
            font-size: 1.8rem;
        }
    }
}

/*******************************
*      Carousel Content       *
********************************/
li{
  margin-left: -13px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-carousel {
  height: 8rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-content li {
  font-size: 1.3em;
  list-style: none;
  text-align: center;
  // max-width: 80vw;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

}

.active {
  border: 0.5px dotted #393D3F;
  border-radius: 20px;

}

.active li {
  position: absolute;

}

.active li.current {
  display: inline;
}

.carouselContainer button {
  border: none;
  display: none;
}

.active button {
  display: block;
  z-index: 1;
}

.offscreen {
  position: absolute;
  left: -2000px;
}

.hidden {
  display: none;
}

button.prev,
button.next {
  background: none;
  border: none;
}

button.prev:hover,
button.next:active {
  color: black;
}


/*******   ABOUT HELPERS   *******/

.about-quote{
  float: right;
} 