// Typography
$h1-font-roboto: 'Roboto', sans-serif;
$body-font-raleway: 'Raleway', sans-serif;
$quote-font-open-sans: 'Open Sans', sans-serif;

// Colors
$main-text-color-black: #3B3D3E;
$background-color-white: #FFFEFD;
$highlight-color-orange: #FF6F61;
$highlight-color-blue: #BDE2FF;
$highlight-color-green: #97DDDF;

body {
  color: $main-text-color-black;
  background-color: $background-color-white;
}

/*******************************
*            Helpers           *
********************************/

//mixins


/*******   END HELPERS   *******/
h1 {
  font-family: $h1-font-roboto;
}

h2 {
  font-family: $body-font-raleway;
}
