// Typography
$h1-font: 'Playfair Display', serif;
$h2-font: 'Raleway', sans-serif;
$body-font-raleway: 'Raleway', sans-serif;
$quote-font-open-sans: 'Open Sans', sans-serif;

// Colors
$main-text-color-black: #393D3F;
$background-color-white: #FFF8F8;
$highlight-color-orange: #FF6F61;
$highlight-color-blue: #BDE2FF;
$highlight-color-green: #97DDDF;
$bold-text-color-black: #202020;

/*******************************
*            Helpers           *
********************************/
.italic{
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.sub-heading {
  font-size: 2.2rem;
}

.highlight{
  color: $highlight-color-orange;
  font-weight: 700;
}

.size20 {
  font-size: 20px;
}

.fas {
  color: #FF6F61;
  font-size: 2em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15%;
  margin-bottom: 10%;
}

//mixins


/*******   END HELPERS   *******/
body {
  color: $main-text-color-black;
  background-color: $background-color-white;
  margin: 10px 10px 10px 10px;
}

.container {
  margin: 10px 10px 10px 10px;
}


/*******************************
*         Landing Page         *
********************************/
header {
  position: relative;
  top: 29px;
}

h1 {
  position: relative;
  font-family: $h1-font;
  color: #393D3F;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  margin-top: 40%;
  margin-left: 4%;
  line-height: 38px;
  z-index: 100;
  top: -1px;
}

h2 {
  margin: 20px 15px;
}

#sub-title-container {
  position: relative;
  top: -23px;
  left: 102px;
}

#border {
  border: 2px solid $main-text-color-black;
  border-radius: 10px;
  height: 199px;
  width: 210px;
  position: relative;
  left: -24px;
}

#border-breaker {
  height: 180px;
  width: 214px;
  background-color: #FFF8F8;
  position: relative;
  top: -265px;
  left: -31px;
}

.sub-title {
  font-family: $h2-font;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: right;
  line-height: normal;
  color: $main-text-color-black;
  z-index: 100;
  width: 188px;
  position: relative;
  top: -394px;
  left: -24px;
}

.fas-home{
  top: -385px;
}


.topthree-h2 {
  color: $main-text-color-black;
  font-size: 2rem;
  margin-left: 20px;
  width: 300px;
  height: 150px;
  z-index: 100;
  position: relative;
}


/*******************************
*         Explore Page         *
********************************/

.explore-h1{
  color: $bold-text-color-black;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.explore-h2{
  color: $main-text-color-black;
  font-size: 1rem;
  margin-left: 20px;
}

h3{
  color: $main-text-color-black;
  margin-left: 20px;
}
.item {
  a {
    padding: 5px 20px;
    display: block;
    height: 20px;
    width: 200px;
    margin: 5px;
  }
}



li{
  font-family:$body-font-raleway;
  color: $main-text-color-black;
  margin-left: 20px;
}

.button {
  font-family:$body-font-raleway;
  color: $bold-text-color-black;
  float: right;
  font-size: 1.3rem;
  margin-right: 20px;
  text-decoration: none;
  z-index: 100;
  position: relative;
  top: 60px;
}

.button-explore{
  font-family:$body-font-raleway;
  color: $bold-text-color-black;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  position: relative;
}

.link{
  text-decoration: none;
  font-family:$body-font-raleway;
  color: $main-text-color-black;
  margin-left: 30px;

}

p {
  margin: 0;
}

